*{box-sizing: border-box;}
img{width:100%;display:block;}
.title{
    text-align: center;
    color: blueviolet;
}
.subtitle{
    font-style: italic;
}
.introimg{
    width:60%;
    margin:3rem auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px gray;
}
.maincontainer{
    width:800px;
    margin:2rem auto;
    padding: 1rem;
    border: solid 1px lightblue;
    background-color: aliceblue;
}
.card{
    width:200px;
    height:300px;
    border: solid 1px gray;
    border-radius: 5px;
    overflow:hidden;
}
.card:hover{
    border: dotted 3px blueviolet;
}