*{box-sizing: border-box;}
img{width:100%; display:block;}

/* home.html */
.maincontainer{
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    border: solid lightblue 1px;
}
.title{
    text-align: center;
}
.upload_img_btn{
    background-color: darkblue;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.upload_img_btn:hover{
    background: crimson;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 1px gray;
}
.albumcontainer{
    margin-top:5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 45%;
    padding: 2rem;
    background-color: lightcyan;
    box-shadow: 1px 1px 5px lightgray;
    margin: 2rem;
}
.card_title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card_img{
    border: ridge 2px darkblue;
    border-radius: 10px;
}

/* post.html */
.posttitle{
    text-align: center;
    color: darkblue;
}
.form_post{
    width: 500px;
    margin: 3rem auto;
    box-shadow: 1px 1px 3px gray;
    border-radius: 10px;
    padding: 2rem;
}
.btnsubmit{
    color: whitesmoke;
    background-color: darkblue;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btnsubmit:hover{
    background: crimson;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 1px gray;
}