{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 15, Henry Perez</title>
    <link rel="stylesheet" href="static/doliststyle.css">
</head>
<body>
    <main class="maincontainer">
        <h1 class="apptitle">To Do List by Henry Perez</h1>

        <form class="dolistform" action="{% url 'add' %}" method="post" role="form">
            {% csrf_token %}
            <section class="formgroup">
                <label for="task">What to do?...</label>
            {{form.text}}
                <button class="btnaddlist">Add to list</button>

            </section>
            <section class="formgroup">
                <a href="{% url 'deletecompleted' %}" class="btndeleteeach">DELETE COMPLETED</a>
                <a href="{% url 'deleteall' %}" class="btndeleteall">DELETE ALL</a>
            </section>

            <section class="formgroup">
                <h3>Added to the list:</h3>

                <!-- List Display -->
                    <ul class="dolist_list">
                        <!-- Sync from database -->
                        {% for task in todo_tasks %}
                        {% if task.completed %}
                            <li class="listitem completed">{{task.text}}</li>
                            {% else %}
                            <a href="{% url 'completed' task.id %}" class="linkitem"><li class="listitem">{{task.text}}</li></a>
                        {% endif %}
                        {% endfor %}

                    </ul>
            </section>
        </form>
    </main>
</body>
</html>